<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Meals database</title>
</head>
<body>
    <h1>Meals Database</h1>
    <form action="/add_meal" method="post">
        <input type="text" name="meal_name" placeholder="Meal Name" required>
        <select name="meal_type" required>
            <option value="breakfast" {% if selected_meal_type == "breakfast" %}selected{% endif %}>Breakfast</option>
            <option value="breakfast_special" {% if selected_meal_type == "breakfast_special" %}selected{% endif %}>Breakefast Special</option>
            <option value="lunch" {% if selected_meal_type == "lunch" %}selected{% endif %}>Lunch</option>
            <option value="lunch_special" {% if selected_meal_type == "lunch_special" %}selected{% endif %}>Lunch Special</option>
            <option value="noon" {% if selected_meal_type == "noon" %}selected{% endif %}>Noon</option>
            <option value="noon_special" {% if selected_meal_type == "noon_special" %}selected{% endif %}>Noon Special</option>
            <option value="dinner" {% if selected_meal_type == "dinner" %}selected{% endif %}>Dinner</option>
            <option value="dinner_special" {% if selected_meal_type == "dinner_special" %}selected{% endif %}>Dinner Special</option>
        </select>
        <button type="submit">Add Meal</button>
    </form>
    <br>
    <form action="/delete_meal" method="post">
        <input type="text" name="meal_name" placeholder="Meal Name to Delete" required>
        <button type="submit">Delete Meal</button>
    </form>
    <br>
        <h2>Meal List</h2>
        <p>Here you can edit the meal lists. Add new meals or modify existing ones.</p>
        <p>Meals are categorized into different types:</p>
        <ul>
            <li>Breakfast</li>
            <li>Breakfast Special</li>
            <li>Lunch</li>
            <li>Lunch Special</li>
            <li>Noon</li>
            <li>Noon Special</li>
            <li>Dinner</li>
            <li>Dinner Special</li>
        </ul>
    
        <h3>Breakfast:</h3>
        <div>
            {% for meal in breakfast %}
                <p>- {{ meal }}</p>
            {% endfor %}
        </div>
        <h3>Breakfast Special:</h3>
        <div>
            {% for meal in breakfast_special %}
                <p>- {{ meal }}</p>
            {% endfor %}
        </div>
        <h3>Lunch:</h3>
        <div>
            {% for meal in lunch %}
                <p>- {{ meal }}</p>
            {% endfor %}
        </div>
        <h3>Lunch Special:</h3>
        <div>
            {% for meal in lunch_special %}
                <p>- {{ meal }}</p>
            {% endfor %}
        </div>
        <h3>Noon:</h3>
        <div>
            {% for meal in noon %}
                <p>- {{ meal }}</p>
            {% endfor %}
        </div>
        <h3>Noon Special:</h3>
        <div>
            {% for meal in noon_special %}
                <p>- {{ meal }}</p>
            {% endfor %}
        </div>
        <h3>Dinner:</h3>
        <div>
            {% for meal in dinner %}
                <p>- {{ meal }}</p>
            {% endfor %}
        </div>
        <h3>Dinner Special:</h3>
        <div>
            {% for meal in dinner_special %}
                <p>- {{ meal }}</p>
            {% endfor %}
        </div>
    <br>
    <a href="/">Back to start page</a>
</body>
</html>
